html{
    height:100%
  }
  body{
    height:100%;
  }
  .intro{
    height:100%
  }
  
  .left{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:#3d231b;
    height : 100%;
    color : #FFF;
  
  }
  .right{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:#FFF;
    height : 100%;
    color : #3d231b;
  }
  @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  }